[Desktop Entry]
Version=0.17.6
Name=Yody Core Testnet
Comment=Connect to the Yody P2P Network Testnet
Exec=yody-qt -testnet %u
Terminal=false
Type=Application
Icon=yodytestnet128
MimeType=x-scheme-handler/yody;
Categories=Network;
StartupWMClass=Yody-qt-testnet
Name[en_US]=yody-qt-testnet
